// FONT-FAMILY
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
$font-base: 'Oswald', sans-serif;


//COLORES
$colorPrimario: #DD8E58;
$colorBotones: #708A81;
$colorClarito: #E5D1B8;
$colorMarroncito: #C2956E;
$colorTexto: #2B2129;

//TAMAÑOS
$fuentetitulo: 5rem;
$fuentesubtitulo: 2.2rem;
$fuentetexto-lg: 2.5rem;
$fuentetexto-md: 1.4rem;
$fuentetexto-sm: .9375rem;
$cero: 0px;
$centro:auto;
$paddingxs:.2em;
$paddingmd:.5em;
$paddinglg:1em;
$paddingxl:1.5em;
$paddingnav: 2.5rem;

