@import "estandar";
* {
    margin:0px;
    padding: 0px;
    font-family: 'Karla', sans-serif;
    scroll-behavior: smooth;
    font-family: $font-base;
    font-size: 16px;
    box-sizing: border-box;
}
*,*::before, *::after { box-sizing: border-box;}
.nombre {
    font-size: 2rem;
    padding: $paddingmd;
}
.container-header {
    background-color: none;
    height: 10vh;
}
#check {
    display: none;
}
.checkbtn {
    display: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.nav-bar {
    margin: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.nav-link {
    font-weight: 300;
    font-size: 1.7rem;
    padding: $paddingnav;
    text-decoration: none;
    color: black;
}
.nav.link:hover {
    color: black;
}
.nav-link:link {
    color: black;
}
nav ul li a::after {
    content: '';
    width: 0%;
    background: $colorBotones;
    display: block;
    margin: auto;
    height: 2px;
    transition: .8s;
}
nav ul li a::before {
    content: '';
    width: 0%;
    background: $colorBotones;
    display: block;
    margin: auto;
    height: 2px;
    transition: .8s;
}
nav ul li a:hover::after {
    width: 100%;
    transform-origin: right;
}
nav ul li a:hover::before {
    width: 100%;
    transform-origin: left;
}
.nav-link:visited {
    color: black;
}
nav ul li .active {
    transform: scale(1.2);
}
.btnAbrirCarrito {
    background-color: $colorClarito;
    border-radius: 50%; 
    border: 1px solid black;
    position: fixed; 
    top: 85%; 
    right: 3%; 
    transform: scale(1.1);
    cursor: pointer;
    z-index: 3;
}
.contendorCarritoFlotante {
    position: relative;
    cursor: pointer;
}
.carritoInicio {
    margin: 1.4rem;      
}
.numeroDeItems {
    position: absolute;
    top: 8px;
    right: 5px;
    padding: 0 5px;
    border-radius: 30%;
}