@import "estandar";
html {
    font-size: 16px;
}
.container-imagen {
    background-image: linear-gradient(rgba(243, 211, 169, 0.614),rgba(214, 196, 172, 0.514)), url(../assets/img/fondo-desayuno.jpg);
    background-size: cover;
    height: 100vh;
}
.container-portada {
    height: 90vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-align: center;
}
.container-portada h2 {
    width: 120em;
    max-width: 95%;
    font-size: $fuentetitulo;
    padding: $paddingmd;
}
.container-portada h3 {
    max-width: 95%;
    font-size: $fuentesubtitulo;
}
.flecha {
    font-size: 4rem;
    color: black;
    padding: $paddinglg;
}
.flecha:hover {
    color: black;
}
.container-pasos h4 {
    text-align: center;
    font-size: $fuentetexto-lg;
    padding: $paddinglg;
}
.container-pasos p {
    text-align: center;
    font-size: 30px;
    padding: $paddingxs $paddingmd;
}
.card-paso1 {
    margin: 30px;
    height: 33rem;
    width: 18rem;
}  
.card-title {
    text-transform: uppercase;
}
.card-paso1:hover {
    transform: scale(1.05);
    transition: 1s;
} 
.card-texto {
    font-size: 15px!important;
}
.container-bebidas {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}
.estilo-boton {
    margin-top: .75rem;
    font-size: $fuentetexto-md;
    background-color: $colorClarito;
    color: $colorTexto;
    text-transform: uppercase;
}
.estilo-boton:hover {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    transition: 0.5s;
}
.container-comidas {
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-wrap: wrap;
}
.modal-header{
    height: 20rem;
    background-size: contain;
}
.modal-title {
    font-size: 3rem;
    padding-left: 100px;
    padding-top: 70px;
}
.iconoCarrito {
    float: right;
    margin: 50px;
    font-size: 2rem;
    border-radius: 50%;
    padding: 25px;
    border: 1px solid black;
    color: black;
}
.iconoCarrito:hover {
    color: black;
}
.textoCarrito {
    text-align: center;
    font-size: 30px;
}
#carrito p {
    font-size: 30px;
    text-align: center;
}
.btn-rec {font-size: 30px;}
@media only screen and (max-width: 1400px) {
    html {
        font-size: 11px;
    }
    .container-bebidas {
        justify-content: center;
        flex-wrap: wrap;
    }
    .container-comida {
        justify-content: center;
        flex-wrap: wrap;
    }
    .card-paso1 {
        width: 25rem;
        height: 45rem;
    }
    .card-title {
        font-size: $fuentetexto-lg;
        padding: $paddingmd;
    }
}