@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Karla', sans-serif;
  scroll-behavior: smooth;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.nombre {
  font-size: 2rem;
  padding: 0.5em;
}

.container-header {
  background-color: none;
  height: 10vh;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10vh;
}

.nav-bar {
  margin: 0px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-link {
  font-weight: 300;
  font-size: 1.7rem;
  padding: 2.5rem;
  text-decoration: none;
  color: black;
}

.nav.link:hover {
  color: black;
}

.nav-link:link {
  color: black;
}

nav ul li a::after {
  content: '';
  width: 0%;
  background: #708A81;
  display: block;
  margin: auto;
  height: 2px;
  -webkit-transition: .8s;
  transition: .8s;
}

nav ul li a::before {
  content: '';
  width: 0%;
  background: #708A81;
  display: block;
  margin: auto;
  height: 2px;
  -webkit-transition: .8s;
  transition: .8s;
}

nav ul li a:hover::after {
  width: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
}

nav ul li a:hover::before {
  width: 100%;
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:visited {
  color: black;
}

nav ul li .active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.btnAbrirCarrito {
  background-color: #E5D1B8;
  border-radius: 50%;
  border: 1px solid black;
  position: fixed;
  top: 85%;
  right: 3%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  cursor: pointer;
  z-index: 3;
}

.contendorCarritoFlotante {
  position: relative;
  cursor: pointer;
}

.carritoInicio {
  margin: 1.4rem;
}

.numeroDeItems {
  position: absolute;
  top: 8px;
  right: 5px;
  padding: 0 5px;
  border-radius: 30%;
}

.container-foto-contacto {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.614)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/fondo-contacto.jpg);
  background-image: linear-gradient(rgba(243, 211, 169, 0.614), rgba(214, 196, 172, 0.514)), url(../assets/img/fondo-contacto.jpg);
  background-size: cover;
  padding: 0rem 2rem;
}

.portada-contacto {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.portada-contacto h3 {
  color: black;
  font-size: 6rem;
  font-family: 'IBM Plex Serif', serif;
  letter-spacing: 3px;
  font-weight: 400;
}

.portada-contacto h2 {
  font-size: 6rem;
  letter-spacing: 4px;
}

.formContacto {
  font-family: "Oswald", sans-serif;
}

html {
  font-size: 16px;
}

.container-imagen {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.614)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/fondo-desayuno.jpg);
  background-image: linear-gradient(rgba(243, 211, 169, 0.614), rgba(214, 196, 172, 0.514)), url(../assets/img/fondo-desayuno.jpg);
  background-size: cover;
  height: 100vh;
  padding: 0rem 2rem;
}

.mensaje-agregado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  z-index: 4;
}

.mensaje-texto {
  color: white;
  z-index: 4;
  position: fixed;
  top: 70%;
  right: 3%;
  text-align: center;
  padding: .5rem;
  margin-top: 3rem;
  font-size: 1.5rem;
  background-color: #DD8E58;
}

.container-portada {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.container-portada h2 {
  width: 120em;
  max-width: 95%;
  font-size: 5rem;
  padding: 0.5em;
}

.texto-pedido {
  max-width: 95%;
  font-size: 2.2rem;
  font-weight: 400;
}

.flecha {
  font-size: 4rem;
  color: black;
  padding: 1em;
}

.flecha:hover {
  color: black;
}

.pasos-texto {
  text-align: center;
  font-size: 3.2rem;
  padding: 0.5em;
}

.container-pasos p {
  text-align: center;
  font-size: 30px;
  padding: 0.2em 0.5em;
}

.card-paso1 {
  margin: 1.875rem;
  height: 28rem;
  width: 15.625rem;
}

.flechapasos {
  font-size: 4rem;
  color: black;
  text-align: center;
  padding: 1.5rem;
}

.card-title {
  text-transform: uppercase;
  font-weight: 400;
}

.card-paso1:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 1s;
  transition: 1s;
}

.card-texto {
  font-size: 15px !important;
}

.container-bebidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.estilo-boton {
  margin-top: .75rem;
  font-size: 1.1em;
  background-color: #E5D1B8;
  color: #2B2129;
  text-transform: uppercase;
}

.estilo-boton:hover {
  -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container-comidas {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-header {
  display: block;
  height: 20rem;
  background-size: contain;
}

.modal-title {
  font-size: 3rem;
  text-align: center;
  padding-top: 70px;
}

.btn-rec {
  font-size: 30px;
}

.cart-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  background-color: rgba(238, 212, 187, 0.5);
  z-index: 2;
  visibility: hidden;
}

.cart {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  overflow: scroll;
  background-color: white;
  z-index: 3;
  padding: 1.5rem;
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.showCart {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.transparentBcg {
  visibility: visible;
}

@media only screen and (min-width: 600px) {
  .cart {
    width: 30vh;
    min-width: 450px;
  }
}

.close-cart {
  font-size: 1.7rem;
  cursor: pointer;
}

.cart h2 {
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  margin-bottom: 2rem;
}

.cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1.5rem;
  margin: 1.5rem 0;
}

.cart-item img {
  width: 75px;
  height: 75px;
}

.nombre-producto {
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: left;
  padding-left: 0;
}

.precio-producto {
  font-size: 1.4rem;
}

.cart-item h5 {
  margin: 0.5rem 0;
}

.item-amount {
  text-align: center;
}

.remove-item {
  color: grey;
  cursor: pointer;
}

.fa-chevron-up,
.fa-chevron-down {
  color: #708A81;
  cursor: pointer;
}

.clear-cart {
  padding: .5rem;
  border: none;
}

.empty-cart-png {
  width: 13rem;
  margin-top: 3rem;
}

.cart-footer {
  margin-top: 2rem;
  letter-spacing: 2px;
  text-align: center;
}

.cart-footer h3 {
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.cantidad-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.remove-items {
  cursor: pointer;
}

.boton-cantidad-estilo {
  margin: 2rem;
  font-size: 1.1em;
  background-color: #DD8E58;
  color: #2B2129;
  text-transform: uppercase;
}

.cantidadDOMBebida,
.cantidadDOMComida {
  height: 50%;
  margin-top: 2rem;
  font-size: 20px;
}

@media only screen and (max-width: 1450px) {
  html {
    font-size: 12px;
  }
  .pasos-texto {
    font-size: 4rem;
  }
  .container-pasos p {
    padding: 0;
    margin-bottom: 0;
  }
  .container-bebidas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .container-comidas {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .card-paso1 {
    width: 25rem;
    height: 45rem;
  }
  .card-title {
    font-size: 2.5rem;
    padding: 0.5em;
  }
}

.container-confirmacion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.container-form {
  width: 40rem;
}

.texto-confirmar {
  text-align: center;
  font-size: 2rem;
}

.carrito-contenedor {
  margin-right: 10rem;
  margin-top: 2.5rem;
}

.cart-total {
  font-size: 2rem;
}

.btnCarritoComida,
.btnCarritoBebida,
.boton-home {
  margin-top: .75rem;
  margin-bottom: .5rem;
  font-size: 1.1em;
  background-color: #E5D1B8;
  color: #2B2129;
  padding: .5rem .8rem;
  text-transform: uppercase;
  border: none;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.boton-home {
  font-size: 2.3rem;
  border-radius: 4px;
  margin-top: 3rem;
}

.boton-home:hover {
  text-decoration: none;
  color: black;
}

.totalCarrito {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .nombre-producto {
    font-size: 1.5rem !important;
  }
}

.modalConfirmacion {
  width: 450px;
  position: fixed;
  top: -45%;
  left: -50%;
  -webkit-transition: top 0.7s;
  transition: top 0.7s;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 6px;
  z-index: 3;
}

.modalBtn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: .625rem 1.25rem;
  cursor: pointer;
}

.modalConfirmacion.active {
  top: 45%;
  left: 50%;
}

.modalHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#overlay.active {
  display: block;
}

.boton-cerrar-modal {
  margin-top: .75rem;
  margin-bottom: .5rem;
  font-size: 1.1em;
  background-color: #cfe3e9;
  color: #2B2129;
  padding: .5rem .8rem;
  text-transform: uppercase;
  border: none;
  -webkit-transition: -webkit-transform 1s ease;
  transition: -webkit-transform 1s ease;
  transition: transform 1s ease;
  transition: transform 1s ease, -webkit-transform 1s ease;
}

.container-foto {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.514)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/portada-nosotros.jpg);
  background-image: linear-gradient(rgba(243, 211, 169, 0.514), rgba(214, 196, 172, 0.514)), url(../assets/img/portada-nosotros.jpg);
  background-size: cover;
  height: 100vh;
}

.container-nosotros {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 80vh;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}

.container-nosotros h3 {
  font-size: 5rem;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
}

.container-nosotros h4 {
  font-size: 2.5rem;
  padding: 0.5em;
  letter-spacing: 3px;
}

.texto-equipo {
  font-size: 2.5rem;
  letter-spacing: 3px;
  padding: 0.5em;
}

.textAlign {
  text-align: center;
}

.contenedor-equipo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.integrante {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container {
  width: 25rem;
  height: auto;
  position: relative;
}

.imagen-integrante {
  margin: 1rem 6rem;
  width: 25rem;
  height: auto;
  border-radius: 4px;
}

.texto-integrante {
  margin: 1rem 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25rem;
}

.texto-integrante h5 {
  font-size: 2.5rem;
  text-align: left;
  letter-spacing: 2px;
}

.efecto::after {
  content: 'FUNDADORA & CEO';
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  margin: 1rem 6rem;
  width: 100%;
  height: 20.75rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.efecto:hover::after {
  opacity: 0.6;
}

.efecto1::after {
  content: 'BAKER & CO-FOUNDER';
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  margin: 1rem 6rem;
  width: 100%;
  height: 20.75rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.efecto1:hover::after {
  opacity: 0.6;
}

.efecto2::after {
  content: 'COOK & SALES MANAGER';
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: black;
  margin: 1rem 6rem;
  width: 100%;
  height: 20.75rem;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.efecto2:hover::after {
  opacity: 0.6;
}

.img-bg {
  background-attachment: fixed;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.614)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/detrasDeEscena.jpg);
  background-image: linear-gradient(rgba(243, 211, 169, 0.614), rgba(214, 196, 172, 0.514)), url(../assets/img/detrasDeEscena.jpg);
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.texto-detrasDeEscena {
  font-size: 4rem;
  font-family: 'IBM Plex Serif', serif;
  font-weight: 500;
  letter-spacing: 4px;
  text-align: center;
}

.contenedor-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

.tour {
  font-size: 2.5rem;
  padding: 1.5rem;
}

footer {
  height: 20vh;
  background-color: #E5D1B8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.redes-sociales {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.redes-sociales p {
  font-size: 1.4rem;
  padding: 1em;
  padding-bottom: 0;
  font-weight: 300;
  color: black;
}

.contenedor-rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.icono {
  font-size: 2rem;
  margin: .5rem;
  color: black;
}

.logo-footer {
  width: 20rem;
  margin-right: 2rem;
}

.mifirma {
  width: 13rem;
  margin-right: 2.5rem;
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.mifirma:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#logo {
  width: 22rem;
  margin-top: 2.5rem;
}

.landing {
  min-height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.614)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/portada-nosotros1.jpg);
  background-image: linear-gradient(rgba(243, 211, 169, 0.614), rgba(214, 196, 172, 0.514)), url(../assets/img/portada-nosotros1.jpg);
  background-size: cover;
  padding: 0rem 2rem;
}

.big-text {
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -5%);
          transform: translate(-50%, -5%);
  font-size: 5rem;
  color: white;
}

.intro {
  background: #E5D1B8;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text {
  font-family: 'Lobster', cursive;
  color: #708A81;
  font-size: 5rem;
}

.hide {
  background: #E5D1B8;
  overflow: hidden;
}

.hide span {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  display: inline-block;
}

.slider {
  background: #a3c1cb;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.texto-principal {
  font-family: 'IBM Plex Serif', serif;
  font-weight: 400;
  color: #212529;
}

.texto-secundario {
  font-size: 2.5rem;
}

.boton-home:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media only screen and (max-width: 1500px) {
  .numeroDeItems {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 950px) {
  header {
    display: block;
  }
  .nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    right: -100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #E5D1B8;
    -webkit-transition: all .5s;
    transition: all .5s;
    z-index: 1;
  }
  .checkbtn {
    display: block;
    position: absolute;
    top: 1rem;
    right: 3%;
    color: black;
    float: right;
    line-height: 80px;
    margin: .5rem;
    cursor: pointer;
    z-index: 2;
  }
  #check:checked ~ ul {
    right: 0;
  }
  .fa-bars {
    font-size: 3.125rem;
  }
  #check {
    display: none;
  }
}

@media only screen and (max-width: 850px) {
  .intro {
    z-index: 7;
  }
  .intro-text {
    margin: 3rem;
  }
  .nav-links {
    font-size: 2.2rem;
  }
  .landing {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.714)), to(rgba(214, 196, 172, 0.714))), url(../assets/img/portada-nosotros1.jpg);
    background-image: linear-gradient(rgba(243, 211, 169, 0.714), rgba(214, 196, 172, 0.714)), url(../assets/img/portada-nosotros1.jpg);
    padding: 0;
    background-position: center;
  }
  .texto-principal {
    margin-bottom: 3rem;
  }
  .texto-secundario {
    font-size: 2.5rem;
    font-weight: 400;
  }
  .boton-home {
    font-size: 3rem;
    background-color: #C2956E;
    padding: .8rem 1rem;
  }
  .container-imagen {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 211, 169, 0.614)), to(rgba(214, 196, 172, 0.514))), url(../assets/img/fondo-desayuno-mb.jpg);
    background-image: linear-gradient(rgba(243, 211, 169, 0.614), rgba(214, 196, 172, 0.514)), url(../assets/img/fondo-desayuno-mb.jpg);
    background-position: right;
  }
  .container-portada h2 {
    font-weight: 400;
    font-size: 4rem;
  }
  .container-nosotros h4 {
    font-weight: 400;
  }
  .texto-pedido {
    font-weight: 300;
    font-size: 2.5rem;
    margin: 2rem 0;
  }
  .numeroDeItems {
    font-size: 1rem;
  }
  .card-title {
    font-weight: 400;
  }
  .container-confirmacion {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container-form {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cart {
    z-index: 4;
    width: 100%;
  }
  .carrito-contenedor {
    margin: 0;
  }
  .imagen-integrante {
    margin-right: 0;
  }
  .imagen-integrante::after {
    margin-right: 0;
  }
  .container-foto-contacto {
    background-position: center;
  }
  .portada-contacto h2 {
    font-size: 4.5rem;
  }
  footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .mifirma {
    display: none;
  }
  .logo-footer {
    margin: 0;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}
/*# sourceMappingURL=estilos.css.map */